*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

  img {
    width: 1px;
    height: 1px;
    object-position: 150px 0;
  }
  h1{
    color: #2e2a89;
    background-color: #2e2a89;
  }
  img {
    border: 3px solid #00a8e1;
   }
